.numberPicker {
    margin: 1em;
}

.numberPicker__btn {
    float: left;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: 1px solid #000000;
}

.numberPicker__btn--active {
    background-color: rgb(43, 174, 0);
    color: white;
}
